<div id="hero-top">
  <div class="container">
      <nav class="navbar navbar-light navbar-expand-md fixed-top" id="navbar" style="font-size:20px;">
          <div class="container"><a class="navbar-brand" href="#" id="nav-brand">E-Women</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
              <div
                  class="collapse navbar-collapse" id="navcol-1">
                  <ul class="nav navbar-nav ml-auto" style="font-size:16px;">
                      <li class="nav-item" role="presentation"><a class="nav-link active" href="#">home</a></li>
                      <li class="nav-item" role="presentation"><a class="nav-link" href="#">sheet</a></li>
                      <li class="nav-item" role="presentation"><a class="nav-link" href="#">logout</a></li>
                  </ul>
              </div>
          </div>
      </nav>
  </div>
</div>