{% extends 'base.html' %}

{% block content %}
<div id="short-term-hero-card">
    <div class="container">
        {% include 'tLoans/partials/_alerts.html' %}
        <div class="row justify-content-center">
            <div class="col">
                <div class="jumbotron p-3" id="jumbotron-short">
                    <div class="row">
                        <div class="col-lg-8">
                            <h6 id="short-loan-heading">BOOSTERS (Education &amp; agriculture)</h6>
                            <hr>
                            <small class="badge badge-light">Education Booster</small>
                            {% if education %}
                            <h6 id="short-term-loan-balance" class="repayment-box mt-2 text-left" style="font-size: 25px;font-weight:bold;">KES {{ education.amount }}</h6>
                            <small>Total Booster(Inc. interest): <b>KES {{ education.booster_percent | floatformat:0 }}</b> </small>
                            {% else %}
                            <h6 id="short-term-loan-balance" style="font-size:25px;font-weight:bold;">No Booster</h6>
                            {% endif %}
                            <hr>
                            <small class="badge badge-light">Agriculture Booster</small>
                            {% if agriculture %}
                            <h6 id="short-term-loan-balance" class="repayment-box mt-2 text-left" style="font-size: 25px;font-weight:bold;">KES {{ agriculture.amount }}</h6>
                            <small>Total Booster(Inc. interest): <b>KES {{ agriculture.booster_percent | floatformat:0 }}</b> </small>
                            {% else %}
                            <h6 id="short-term-loan-balance" style="font-size:25px;font-weight:bold;">No Booster</h6>
                            {% endif %}
                        </div>
                        <div class="col-lg-4 flex-column align-items-center align-self-center">
                            <h6 class="text-center" id="short-loan-heading">Save</h6>
                            <div class="short-term-modal">
                                <form method="POST">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <!-- <input class="form-control" type="number" name="short-loan" placeholder="Enter amount to save" /> -->
                                        {{ form.amount }}
                                    </div>
                                    <div class="form-check mb-3 mt-2 pl-0">
                                        <!-- <input class="form-check-input" type="radio" id="formCheck-2" name="booster-type" />
                                        <label class="form-check-label" for="formCheck-2">Booster type</label> -->
                                        {{ form.name }}
                                    </div>
                                    <button class="btn btn-dark btn-block btn-sm" type="submit">Save</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
</html>