{% extends 'base.html' %}

{% block content %}
<div id="short-term-hero-card">
  <div class="container">
      <div class="row justify-content-center">
          <div class="col">
            {% include 'tLoans/partials/_alerts.html' %}
              <div class="jumbotron p-4" id="jumbotron-short">
                  <div class="row">
                      {% for loan in loans %}
                        <div class="col-lg-8">
                            <h6 id="short-loan-heading">short term loan</h6>
                            <hr>
                            <h6 class="repayment-box text-left" id="short-term-loan-balance" style="font-size:30px;font-weight:bold;">KES {{ loan.amount }}</h6>
                       
                            <small class="text-uppercase" id="payment-plan-heading">payment plan</small>
                            <div class="card border-0">
                                {% if loan.payment_period == 'TM' %}
                                <div class="card-body modal-1 p-0">
                                    <p class="text-muted card-subtitle mb-1" style="font-size: 12px;">
                                        1st Month: <b>KES {{ loan.first_second_month | floatformat:0 }}</b>
                                    </p>
                                    <p class="text-muted card-subtitle mb-1" style="font-size: 12px;">
                                        2nd Month: <b>KES {{ loan.first_second_month | floatformat:0 }}</b>
                                    </p>
                                    <p class="text-muted card-subtitle" style="font-size: 12px;">
                                        3rd Month: <b>KES {{ loan.final_amount | floatformat:0 }}</b>
                                    </p>
                                </div>
                                {% else %}
                                <div class="card-body modal-1 p-0">
                                    <small class="text-muted card-subtitle">
                                        <strong>One Month Repayment: KES {{ loan.final_amount | floatformat:0 }}</strong>
                                    </small>
                                </div>
                                {% endif %}

                            </div>
                        
                            <div class="mt-5 repayment-box">
                                {% if loan.payment_period == 'TM' %}
                                {% if loan.paid_months.count <= 2 %}
                                <small style="font-size:12px;font-weight:bold;">You have repaid {{ loan.paid_months.count }} months</small>
                                {% else %}
                                    <small style="font-size:12px;font-weight:bold;">You have finished repaying your loan</small>
                                {% endif %}
                                {% endif %}

                                {% if loan.payment_period == 'OM' %}
                                    {% if loan.paid_months.count == 0 %}
                                        <small style="font-size:15px;font-weight:bold;">You have not repaid your loan</small>
                                    {% else %}
                                        <small style="font-size:12px;font-weight:bold;">You have finished repaying your loan</small>
                                    {% endif %}
                                {% endif %}

                            </div>
                            <div class="repayment-months-info my-2">
                                {% if loan.payment_period == 'TM' %}
                                    {% for item in loan.paid_months.all %}
                                        <small class="badge badge-pill badge-dark p-1">{{ forloop.counter }} payment made: KES {{ item.amount }}</small>
                                    {% endfor %}
                                {% else %}
                                    {% for item in loan.paid_months.all %}
                                         <small class="badge badge-pill badge-dark p-1">Payment made: KES {{ item.amount }}</small>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                        
                        {% if loan.payment_period == 'TM' %}
                            {% if loan.paid_months.count <= 2 %}
                            <div class="col-lg-4 flex-column align-items-center align-self-center">
                                <h6 class="text-center" id="short-loan-heading">repay</h6>
                                    <div class="short-term-modal">
                                        <form method="POST">
                                            {% csrf_token %}
                                            <div class="form-group">
                                                <!-- <input class="form-control" type="number" name="short-loan" placeholder="Enter amount to repay" /> -->
                                                {{ form.amount }}
                                            </div>
                                            <button class="btn btn-dark btn-block btn-sm" type="submit">Repay</button>
                                        </form>
                                    </div>
                            </div>
                            {% else %}
                                <div class="col-lg-4 flex-column align-items-center align-self-center text-center mt-3">
                                    <i class="far fa-smile fa-2x text-center repayment-box"></i>
                                </div>
                                <a href="{% url 'delete-short-term' loan.pk %}" class="btn btn-danger btn-sm">Delete Loan</a>
                            {% endif %}
                        {% endif %}
                        
                        {% if loan.payment_period == 'OM' %}
                            {% if loan.paid_months.count == 0 %}
                            <div class="col-lg-4 flex-column align-items-center align-self-center">
                                <h2 class="text-center" id="short-loan-heading">repay</h2>
                                    <div class="short-term-modal">
                                        <form method="POST">
                                            {% csrf_token %}
                                            <div class="form-group">
                                                <!-- <input class="form-control" type="number" name="short-loan" placeholder="Enter amount to repay" /> -->
                                                {{ form.amount }}
                                            </div>
                                            <button class="btn btn-dark btn-block" type="submit">Repay</button>
                                        </form>
                                    </div>
                            </div>
                            {% else %}
                                <div class="col-lg-4 flex-column align-items-center align-self-center text-center mt-3">
                                    <i class="far fa-smile fa-9x text-center repayment-box"></i>
                                </div>
                                <a href="{% url 'delete-short-term' loan.pk %}" class="btn btn-danger btn-sm">Delete Loan</a>
                            {% endif %}
                            {% endif %}
                        {% empty %}
                 
                            <div class="col-lg-7 align-items-center align-self-center p-0 text-center">
                                <small>You have no <b>Short Term Loan</b></small>
                            </div>
                            <div class="col-lg-5 text-center">
                                <a href="{% url 'home' %}" class="btn btn-dark btn-block btn-sm">Make a Short Term Loan &longrightarrow;</a>
                            </div>
                    
                        
                      {% endfor %}
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
{% endblock content %}