{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TableBanking</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/untitled.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,900">
    <link rel="stylesheet" href="https://unpkg.com/@bootstrapstudio/bootstrap-better-nav/dist/bootstrap-better-nav.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
</head>
  <body class="main-body">
    <section class="d-flex flex-column justify-content-center" id="hero" style="background-image:url(&quot;{% static 'img/main.jpg' %}&quot;);">
      <div id="hero-top">
        <div class="container">
            <nav class="navbar navbar-light navbar-expand-xl fixed-top" id="navbar" style="font-size:20px; margin-top:17px;">
              {% if user.is_authenticated %}
                <div class="container"><a class="navbar-brand" href="{% url 'home' %}" id="nav-brand">Helen</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                    <div
                        class="collapse navbar-collapse" id="navcol-1">
                        <ul class="nav navbar-nav ml-auto" style="font-size:14px;">
                          
                            <li class="nav-item">
                              <a class="nav-link {% if '' in request.path %} active {% endif %}" href="{% url 'home' %}">home</a>
                            </li>

                            <li class="nav-item" role="presentation">
                              <a class="nav-link {% if '/short-term/' in request.path %} active {% endif %}" href="{% url 'short-term' %}">Short term</a>
                            </li>

                            <li class="nav-item" role="presentation">
                              <a class="nav-link {% if '/long-term/' in request.path %} active {% endif %}" href="{% url 'long-term' %}">Long term</a>
                            </li>

                            <li class="nav-item" role="presentation">
                              <a class="nav-link {% if 'boosters/' in request.path %} active {% endif %}" href="{% url 'save_booster' %}">Boosters</a>
                            </li>

                            <li class="nav-item" role="presentation">
                              <a class="nav-link {% if 'loan/information/' in request.path %} active {% endif %}" href="{% url 'loan_information' %}">Loan information</a>
                            </li>
                            
                            <li class="nav-item" role="presentation">
                              <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                            </li>
                        </ul>
                </div>
          </div>
          {% endif %}
        </nav>
    </div>
    </div>
      {% block content %}{% endblock content %}
    </section>





    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="https://unpkg.com/@bootstrapstudio/bootstrap-better-nav/dist/bootstrap-better-nav.min.js"></script>
    <script>

         $('#myModal1').on('hidden.bs.modal', function() {
           return false;
         });

      
         setTimeout(() => {
          $('#message').fadeOut('slow')
         }, 3000);
    </script>
  </body>
</html>
